streamlit
pypdf
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
faiss-cpu
streamlit
python-dotenv
pypdf
pandas
numpy
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-google-genai
google-genai
faiss-cpu
chromadb
